<!DOCTYPE html>
<html>
    <head>
        <title>Test application</title>
        <link rel="stylesheet" type="text/css" href = {{ url_for('static', filename='matches_list.css') }} />
        <link rel="stylesheet" type="text/css" href = {{ url_for('static', filename='matches_list1.css') }} />
        <meta http-equiv="refresh" content="10">      
    </head>
    <body>
        <div class="navbar">
            <a href=#>{{ title }}</a>
            <a class ="right" href="{{ url_for('live_tournaments') }}">Live Tournaments</a>
            <a class ="right" href="{{ url_for('finished_tournaments') }}">Finished Tournaments</a>
            <a class ="right" href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="container">
            <h2>{{ title }}</h2>
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Date</div>
                <div class="col col-2">Player 1</div>
                <div class="col col-3">Player 2</div>
                <div class="col col-4">Round</div>
                <div class="col col-5">Details</div>
              </li>
              {% for i in matches[title] %}
              <li class="table-row">
                <div class="col col-1" data-label="Date">{{ i['Date'] }}</div>
                {% if i['Player_1'] == i['won'] %}
                  <div class="col col-2" data-label="Player 1" style="color:green">{{ i['Player_1'] }}</div>
                {% else %}
                  <div class="col col-2" data-label="Player 1">{{ i['Player_1'] }}</div>
                {% endif %}
                
                {% if i['Player_2'] == i['won'] %}
                  <div class="col col-3" data-label="Player 2" style="color:green">{{ i['Player_2'] }}</div>
                {% else %}
                  <div class="col col-3" data-label="Player 2">{{ i['Player_2'] }}</div>
                {% endif %}
                <div class="col col-4" data-label="Round">{{ i['Round'] }}</div>
                <div class="col col-5" data-label="Details"><a href = "{{ url_for('matches', filename = i['file_name']) }}">Link</a></div>
              </li>
              {% endfor %}
            </ul>
          </div>
    </body>
</html>