<!DOCTYPE html>
<html>
    <head>
        <title>Test application</title>
        <link rel="stylesheet" type="text/css" href = {{ url_for('static', filename='match.css') }} />
        <meta http-equiv="refresh" content="10">      
    </head>
    <body>
        <div class="navbar">
            <a href=#>{{ title }}</a>
            <a class ="right" href="{{ url_for('live_tournaments') }}">Live Tournaments</a>
            <a class ="right" href="{{ url_for('finished_tournaments') }}">Finished Tournaments</a>
            <a class ="right" href="{{ url_for('index') }}">Home</a>
        </div>
        <div class = "match-frame">
            <embed src="http://localhost:8050/{{ filename }}">
        </div>
    </body>
</html>